@font-face {
    font-family: MerriweatherRegular;
    src: url(/assets/Merriweather-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MerriweatherRegular, Arial, Helvetica, sans-serif;
    transition: all 0.6s ease-in-out;
}
.hide {
    display: none;
}
.widt95 {
    width: 95%;
}
.height100 {
    height: 100%;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.justyContCent {
    justify-content: center;
}
.jusySpBtw {
    justify-content: space-between;
}
.justySpAr {
    justify-content: space-around;
}
.aligItCent {
    align-items: center;
}
.marginTop {
    margin-top: 2rem;
}
.marginLeft {
    margin-left: 2rem;
}
.marginRight {
    margin-right: 2rem;
}
.marginRightH3 {
    margin-right: 11rem;
}
.marginCent {
    margin: 0 auto;
}
.textAlCent {
    text-align: center;
}
#body {
    width: 100vw;
    height: 100vh;
    background: hsla(33, 100%, 53%, 1);
    background: linear-gradient(315deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    overflow: hidden;
}
.btn {
    margin: 3rem;
    padding: 1em;
    font-size: 2rem;
    border-radius: 10px;
    border: 3px solid #432371;
    cursor: pointer;
    background: hsla(33, 100%, 53%, 1);
    background: linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -moz-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -webkit-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    box-shadow: 1px 15px 50px rgba(0, 0, 0, 0.85);
}
.mainAside {
    width: 33%;    
    margin: 1rem;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid #432371;
}
.mainArticle {
    width: 67%;
    margin: 1rem;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid #432371;
}
.mainCont {
    width: 95%;
    min-height: 74vh;
    margin: 0 auto;
    padding: 1rem 0;
}
/* Header Style */

#header, #adminHeader {
    width: 95%;
    height: 8rem;
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: 3px solid rgb(67, 35, 113);
}
/* Home Page Styles */

#homePage {
    transform: translateY(900px);
    opacity: 0;
    width: 100vw;
    height: 100vh;
}
#homePage.active {
    transform: translateY(0px);
    opacity: 1;
}

#headHP {
    width: 98%;
    margin: 1rem;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid #432371;
}
#headHP h2 {
    text-align: center;
}
#mainHP {
    width: 98%;
    margin: 3rem;
    padding: 1rem;
}
#mainHP h3 {
    text-align: center;
}
#loginForm {
    width: 90vw;
    max-width: 46rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid #432371;
    background: hsla(33, 100%, 53%, 1);
    background: linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -moz-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -webkit-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    box-shadow: 1px 15px 50px rgba(0, 0, 0, 0.85);
}
.loginInputs {
    margin: 1em;
    padding: 1em;
    font-size: 1.1rem;
    border: 2px solid rgb(67, 35, 113);
    border-radius: 10px;
}
.loginSpan {
    width: 18rem;
    position: relative;
    top: -3.5rem;
    left: 2.5rem;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.55);
    transform: translateX(0rem) translateY(0px);
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: rgb(67,35,113);
    transform: translateX(1rem) translateY(-26px);
    font-size: 0.67rem;
    padding: 0 10px;
    background: #fafafa;
    border: 1px solid rgb(67,35,113);
    border-radius: 5px;
    /* border-top: 1px solid rgb(67,35,113);
    border-left: 1px solid rgb(67,35,113);
    border-right: 1px solid rgb(67,35,113); */
    letter-spacing: 0.1rem;
    
}

.inputBox input:valid,
.inputBox input:focus {
 border: 1px solid rgb(67, 35, 113);
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span {
    background: linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -moz-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -webkit-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    color: rgb(67, 35, 113);
}

/* Admin Section styles */

#adminDashboard {
    transform: translateY(900px);
    opacity: 0;
}
#adminDashboard.active {
    transform: translateY(0px);
    opacity: 1;
}

.itemsBtn {
    padding: 0.8em;
    border-radius: 10px;
    border: 3px solid #432371;
    cursor: pointer;
    background: hsla(33, 100%, 53%, 1);
    background: linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -moz-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -webkit-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    box-shadow: 1px 15px 50px rgba(0, 0, 0, 0.85);
}
.cent {
    margin: 0 1rem;
}

/* Aside styles */
#adminMainAside {
    opacity: 0;
}
#adminMainAside.active {
    opacity: 1;
}
.asideSvg {
    width: 50px;
    height: 50px;
    filter: invert(15%) sepia(20%) saturate(6423%) hue-rotate(248deg) brightness(93%) contrast(96%);
    padding: 0.3em;
    border-radius: 10px;
    border: 3px solid black;
    cursor: pointer;
    box-shadow: 1px 15px 50px rgba(0, 0, 0, 0.85);

}
.table {
    width: 95%;
    margin: 2rem auto 1rem auto;
    border-collapse: collapse;
    border: 2px solid #432371;
}
#headTr th{
    padding: 0.5em;
    border-bottom: 3px solid #432371;
}
#headTr th:first-child {
    border-right: 2px solid #432371;
}
.td {
    padding: 0.5em;
    border-bottom: 1px solid #432371;
    text-align: center;

}
tr td:first-child {
    border-right: 1px solid #432371;

}

/* input sections styles */

#inputSections {
    display: block;
    overflow: hidden;
    width: 0px;
    height: 0px;
    margin: 0 auto;
    transform: translateY(0px);
    opacity: 0;
    z-index: 10;
}
#inputSections.active {
    display: block;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 3px solid #432371;
    border-radius: 10px;
    box-shadow: 1px 15px 50px rgba(0, 0, 0, 0.85);
    z-index: 10;
    opacity: 1;
    transform: translateY(-750px);
    background: hsla(33, 100%, 53%, 1);
    background: linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -moz-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -webkit-linear-gradient(111deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
}
/* Add new user style */

#newUserInpSectCont {
    height: 100%;
    margin: 0 auto;

}
.newInputs {
    padding: 7px;
    width: 20rem;
    border: 2px solid #432371;
    border-radius: 10px;
}

/* delete input section classes */
.delchkbx {
    height: 20px;
    width: 20px;
}
#inputSectFstCont{
    opacity: 0;
    height: 0px;
}
#inputSectFstCont.height100{
    opacity: 1;
    height: 100%;
}
#inputSect2ndCont, #inputSect3rdCont {
    opacity: 0;
    height: 0px;
}
#inputSect2ndCont.active, #inputSect3rdCont.active {
    opacity: 1;
    height: 100%;
}

/* export new users.json style */
#usersJsonInp {
    font-size: 1.1rem;
}